body {
  background: #dde2e9;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin: 0;
}

textarea {
    border:none;
    resize: none;
    &:focus{
        outline:0;
    }
}

input {
    background: transparent;
    border: none;

    &:focus {
        outline: 0;
    }
}