.lookup {
    &.Initiative .selected {
        background-color: #30c6be;
    }

    &.Feature .selected {
        background: #eaab00;
    }

    &.Sub-Feature .selected {
        background: #6d09a8;
    }

    &.Non-Functional .selected {
        background: #767b7e;
    }
}