.select-epic-message {
    text-align: center;
    .message {
        font-size: 7em;
        position: absolute;
        top: 100px;
        left: 425px;
    }

    svg {
        opacity: .1;
        width: 350px;
    }
}

.empty-test-list {
    color: lightgray;
    font-size: x-large;
    font-family: "High Tower Text";
    text-align: center;
}