.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    width: 100%;
    background-color: #31363e;
    color: #f2f2f2;

    .logo svg {
        width: 167px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50px;
        cursor: pointer;
    }

    .nav-toolbar {
        justify-content: space-between;
    }

    .epic-lookup{
        color: black;
        height: inherit;

        input {
            color: #ffffff;
            background-color: rgba(255,255,255,.2);
            border: 0;
            height: 100%;
            width: 300px;

            &:focus {
                outline: none;
            }
        }
    }
}

.application-container {
    margin-top: 60px;
}

.info-modal {
    .info-content {
        padding: 20px;

        label {
            margin-right: 5px;
        }
    }
}
