.test-section {

    .empty-test-list {
        color: lightgray;
        font-size: x-large;
        font-family: "High Tower Text";
        text-align: center;
    }

}

@inputWidth: ~"100% - 50px";
.test-form{
    label {
        display: inline-block;
        width: 50px;
        text-transform: capitalize;
        float:left; //How to do this better?
        margin-top:2px; //ditto
    }

    textarea {
        width: calc(@inputWidth);
    }
}

.test-form, .tests-table{
    textarea {
        border:none;
        resize: none;
        &:focus{
            outline:0;
        }
    }
}

.tests-table{
    textarea{
        width:100%;
        vertical-align: top;
    }
}