@inputWidth: ~"100% - 50px";

.test-form-container {
    background-color: #ddd;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 32px;
}

.test-form {
    position: relative;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    background: #ffffff;
    color: #979797;
    padding: 6px 12px;
    resize: none;

    button {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    label {
        display: inline-block;
        width: 50px;
        text-transform: capitalize;
        float:left; //How to do this better?
        margin-top:2px; //ditto
    }

    textarea {
        width: calc(@inputWidth);
    }

    input {
        width: calc(@inputWidth);
    }
}

.test-form, .tests-table{

}

.tests-table{
    textarea{
        width:98%;
        vertical-align: top;
    }

    .delete-icon {
        vertical-align: top;
    }
}