#tests-actionbar {
    color: black;
    fill: black;

    .toolbar {
        padding: 0;
    }

    .toolbar-group div {
        align-items: center;
        cursor: pointer;
        padding: 0 1em;

        &.active {
            background-color: #ddd;
        }
    }
}